<div class="yield-container">

	<div class="background"></div>

	<div class="container">

		<div class="row">

			<div class="bg">
				<br>
				<br>
					<div class="col-lg-offset-4 col-lg-4">
						<h1 class="top-head">管理ページ</h1>
						<nav class="home-nav">
							<p>-ユーザー-</p>
							<li><%= link_to '商品一覧', root_path %></li>
							<br>
							<p>-管理者-</p>
							<li><%= link_to 'ユーザー一覧', admins_users_path %></li>
							<li><%= link_to 'ブロックユーザー一覧', admins_resign_index_path %>
							<li><%= link_to '商品一覧', admins_products_path %></li>
							<li><%= link_to '商品の追加', new_admins_product_path %></li>
							<!-- <li> --><%#= link_to '購入履歴', %><!-- </li> -->
							<li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
						</nav>
					</div>
			</div>
		</div>
	</div>
</div>
