<div class="row sampleRow">
    <div class="col-xs-1">2</div>
    <div class="col-xs-10">
      <div class="circle">
      <div class="row field">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <div class="circle2">
            <h1>ログイン</h1>
          </div>
        </div>
        <div class="col-xs-1"></div>
      </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>



  <div class="row field">
    <div class="col-xs-2"></div>
    <div class="col-xs-3">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-3"></div>
    <div class="col-xs-2"></div>
  </div>




  <div class="row field">
    <div class="col-xs-2"></div>
    <div class="col-xs-3">
      <%= f.label :パスワード %><br />
      <%= render "users/shared/links2" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-3"></div>
    <div class="col-xs-2"></div>
  </div>

  <div class="row field">
    <div class="col-xs-2"></div>
    <div class="col-xs-3">
      <%= f.submit "ログイン" %>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-3"></div>
    <div class="col-xs-2"></div>
  </div>
<% end %>




<div class="row field">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <p>まだ会員登録がお済でない方</p>
      <%= render "users/shared/links3" %>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
