<h1>マイページ</h1>
<p>氏名（漢字）</p>
<p><%= @user.kanji_lastname %><%= @user.kanji_firstname %></p>

<p>氏名（カナ）</p>
<p><%= @user.kana_lastname %><%= @user.kana_firstname %></p>

<p>ユーザー名</p>
<p><%= @user.user_name %></p>

<p>メールアドレス</p>
<p><%= @user.email %></p>

<p>電話番号</p>
<p><%= @user.phone_number %></p>

<p>郵便番号</p>
<p><%= @user.postal_code %></p>

<p>住所</p>
<p><%= @user.postal_address %></p>
