<div class="container">
	<div class="row">
		<div class="col">
			<h2>ユーザー情報編集</h2>
			<!-- form_forで初期値を設定する方法調べる -->
				<%= form_for @user do |f| %>
					<p>氏名(漢字)</p>
						<%= f.text_field :kanji_firstname %>
						<%= f.text_field :kanji_lastname %>
					<p>氏名(カナ)</p>
						<%= f.text_field :kana_firstname %>
						<%= f.text_field :kana_lastname %>
					<p>ユーザーネーム</p>
						<%= f.text_field :user_name %>
					<p>メールアドレス</p>
						<%= f.text_field :email %>
					<p>電話番号※ハイフンなし</p>
						<%= f.text_field :phone_number %>
					<p>郵便番号※ハイフンなし</p>
						<%= f.text_field :postal_code %>
					<p>住所</p>
						<%= f.text_field :postal_address %>

						<%= f.submit "送信" %>
						<%= f.submit  "削除" %>
				<%end%>
		</div>
	</div>
</div>