<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<!-- ransackでエンドユーザーを検索できます -->
			<%= form_tag(admins_users_path, method: :get, enforce_utf8: false) do %>
				<div>
				<%#= label :user_nam_cont %>
				<%= text_field_tag :q, params[:q], placeholder: "検索" %>
				<%= submit_tag %>
				</div>
			<% end %>
			<!-- ransack end -->
			<table class="table table-hover">
				<tbody>
					<% @users.each do |user| %>
				<tr>
					<% admins_user_path(user) %>
					 	<td><%= attachment_image_tag user, :profile_image_id, :fill, 45, 45, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size: "45x45" %></td>
							<td><%= user.id %></td>
							<td></td>
							<td></td>
							<td><%= user.user_name %></td>
							<td><%= user.email %></td>
							<!-- ↓私の学習が追いついたらあとで変更する -->
							<td><%= link_to "編集", admins_user_path(user.id), class: "btn btn-info" %></td>
					</tr>
				 	<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>

<%= paginate @users %>

