<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<!-- サーチメソッドをここに入れたい -->
			<table class="table table-hover">
				<!-- テーブル全体を押してリンクに飛ばしたい -->
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<%= link_to admins_user_path(user) do %>
						<div>
						<td><%= attachment_image_tag user, :profile_image_url, :fill, 60, 60, fallback: "no_image.jpg", size: "60x60" %></td>
						<td><%= user.id %></td>
						<td><%= user.user_name %></td>

							<td><%= user.email %></td>
						</div>

						<% end %>

					</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @users %>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>

