<div class="container my-back">
	<div class="row">
		<div>
			<br>
		<div class="col-lg-3">
			<br>
			<br>

			<div class="flash">
				<%= flash[:notice] %>
			</div>
			<%= attachment_image_tag @user, :profile_image_id, :fill, 200, 200, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size: "200x200" %>
		</div>
		<div class="col-lg-offset-1 col-lg-7">
			<h2>ユーザー詳細</h2>
				<p><%= @user.kanji_firstname %></p>
				<p><%= @user.kanji_lastname %></p>
				<p><%= @user.user_name %></p>
				<p><%= @user.email %></p>
				<p><%= @user.phone_number %></p>
				<p><%= @user.postal_code %></p>
				<p><%= @user.postal_address %></p>
<% if @user.resignation == false %>
			<%= link_to "編集", edit_admins_user_path(@user.id), class: "btn btn-info" %>
<% else %>
			<%= link_to "復活", admins_user_reviva_path(@user.id), method: :patch %>
<% end %>
		</div>
		</div>
	</div>
</div>