<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= attachment_image_tag @user, :profile_image_url, :fill, 200, 200, fallback: "no_image.jpg", size: "200x200" %>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-7">
			<h2>ユーザー詳細</h2>
				<p><%= @user.kanji_firstname %></p>
				<p><%= @user.kanji_lastname %></p>
				<p><%= @user.user_name %></p>
				<p><%= @user.email %></p>
				<p><%= @user.phone_number %></p>
				<p><%= @user.postal_code %></p>
				<p><%= @user.postal_address %></p>
			<%= link_to "編集", edit_admins_user_path(@user.id), class: "btn btn-info" %>
		</div>
		<div class="col-lg-1"></div>
		</div>
	</div>
</div>
