<div class="complete-container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<p class="thanks-message">ありがとうございました</p>
			<p class="complete-message">購入完了しました！</p>
			<div class="row">
				<div class="col-md-6">
					<p class="glyphicon glyphicon-user"></p>
				</div>
				<div class="col-md-6">
					<div class="trading-number">
						<p>お取引番号:<%= @order.id %></p>
						<p>お届け先:</p>
						<p><%= @order.destination_name %></p>
						<p><%= @order.destination_postal_code %></p>
						<p><%= @order.destination %></p>
					</div>
				</div>
			</div>
			<p><%= link_to products_path do %><button class="btn btn-primary">商品一覧ページへ戻る</button><% end %></p>
			<%= unless @order.payment_methods == "クレジットカード" %>
				<div class="ship-info">
					ご入金の確認が取れ次第、発送いたします。<br>
					ただし、代引きのお客様は直ちに出荷準備いたします。
				</div>
			<% end %>
		</div>
	</div>
</div>
