<div class="order-history-container">
	<h1>注文履歴</h1>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<table class="histroy-table">
				<div class="row">
				<% @orders.each do |order| %>
				<% first_order_detail = Product.find(order.order_details.first) %>
				<% product = Product.find(first_order_detail.product_id) %>
					<!--表の上段-->
					<thead>
						<tr>
							<th class="col-md-3">購入日<%= order.created_at %></th>
							<th class="col-md-5">お届け先<%= order.destination %></th>
							<th class="col-md-4">取引番号<%= order.id %>></th>
						</tr>
					</thead>
					<!--表の下段-->
					<tbody>
						<tr>
							<td>
								<% if product.jacket_image_id %>
									<%= attachment_image_tag product, :jacket_image, :fill, 60, 60, class:"border" %>
								<% else %>
									<%= image_tag 'no_image.jpg', size: '60x60', class:"border" %>
								<% end %>
							</td>
							<td>
								<p><%= product.product_name%></p>
								<p><%= product.artist.name %></p>
								<p><%= first_order_detail.product_count %></p>
								<p><%= product.price %></p>
							</td>
							<td>
								<p><%= order_detail.order.shipment_status %></p>
							</td>
						</tr>
					</tbody>
				<% end %>
				</div>
			</table>
		</div>
	</div>
</div>


