<div class="order-history-container">
	<div class="bg">
		<div class="col-md-8 col-md-offset-2 order-t">
			<table class="histroy-table" border=1>
				<div class="row">
					<div class="col-lg-12 order-table">
						<h1 class="ord-h">購入履歴</h1>
						<% @orders.each do |order| %>
						<thead>
							<tr data-href=<%= order_path(order.id) %>>
								<th>購入日 : <%= order[:created_at] %></th>
								<th>お届け先 : <%= order[:destination] %></th>
								<th>取引番号 : <%= order[:id] %></th>
							</tr>
						</thead>
						<tbody>
							<tr data-href=<%= order_path(order.id) %>>
							<% order.order_details.first(1).each do |detail| %>

							<td>
								<% if detail.product.jacket_image_id %>
									<%= attachment_image_tag detail.product, :jacket_image, :fill, 60, 60, class:"border" %>
								<% else %>
									<%= image_tag 'no_image.jpg', size: '60x60', class:"border" %>
								<% end %>
							</td>
							<td>
								<p>商品名 : <%= detail.product.product_name %></p>
								<p>アーティスト名 : <%= detail.product.artist.name %></p>
								<p>個数 : <%= detail.product_count %></p>
								<p>価格 : <%= detail.price %></p>
							</td>
							<td>
								<p>発送状況 : <%= order.shipment_status %></p>
							</td>
							<% end %>
							</tr>
						<% end %>
					</div>
				</div>
			</table>
			<div class="page-rireki">
			<%= paginate @orders %>
			</div>
			<div class=table-f></div>
			</div>
			<div class="order-bg"></div>
		</div>
	</div>
</div>




<%=render 'admins/table' %>