<div class="order-history-container">
	<div class="bg">
		<div class="col-md-8 col-md-offset-2 order-t">
			<table class="histroy-table" border=1>
					<div class="col-lg-12 order-table">
					<h1 class="ord-h">購入履歴</h1>
					<% @order_histories.each do |od| %>
					<!--表の上段-->
					<thead>
						<tr data-href=<%= order_path(od[:order_id]) %>>
							<th>購入日 : <%= od[:created_at] %></th>
							<th>お届け先 : <%= od[:order_destination] %></th>
							<th>取引番号 : <%= od[:order_id] %></th>
						</tr>
					</thead>
					<!--表の下段-->
					<tbody>
						<tr data-href=<%= order_path(od[:order_id]) %>>
							<td>
								<% if od[:jacket_image_id] %>
									<%= attachment_image_tag od, :jacket_image, :fill, 60, 60, class:"border" %>
								<% else %>
									<%= image_tag 'no_image.jpg', size: '60x60', class:"border" %>
								<% end %>
							</td>
							<td>
								<p>商品名 : <%= od[:product_name] %></p>
								<p>アーティスト名 : <%= od[:artist_name] %></p>
								<p>個数 : <%= od[:product_count] %></p>
								<p>価格 : <%= od[:product_price] %></p>
							</td>
							<td>
								<p>発送状況 : <%= od[:shipment_status] %></p>
							</td>
						</tr>
					</tbody>
				<% end %>
			</table>
			<div class=table-f></div>
			</div>
			<div class="order-bg"></div>
		</div>
	</div>
</div>

<%=render 'admins/table' %>