<div class="order-history-container">
	<h1>購入履歴</h1>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<table class="histroy-table" border=1>
				<div class="row">
				<% @order_histories.each do |od| %>
					<!--表の上段-->
					<thead>
						<tr>
							<th class="col-md-3">購入日 : <%= od[:created_at] %></th>
							<th class="col-md-5">お届け先 : <%= od[:order_destination] %></th>
							<th class="col-md-4">取引番号 : <%= od[:order_id] %></th>
						</tr>
					</thead>
					<!--表の下段-->
					<tbody>
						<tr>
							<td>
								<% if od[:jacket_image_id] %>
									<%= attachment_image_tag od, :jacket_image, :fill, 60, 60, class:"border" %>
								<% else %>
									<%= image_tag 'no_image.jpg', size: '60x60', class:"border" %>
								<% end %>
							</td>
							<td>
								<p>商品名 : <%= od[:product_name] %></p>
								<p>アーティスト名 : <%= od[:artist_name] %></p>
								<p>個数 : <%= od[:product_count] %></p>
								<p>価格 : <%= od[:product_price] %></p>
							</td>
							<td>
								<p>発送状況 : <%= od[:shipment_status] %></p>
							</td>
							<td><%= link_to "詳細へ", order_path(od[:order_id]), class:"btn btn-primary" %></td>
						</tr>
					</tbody>
				<% end %>
				</div>
			</table>
		</div>
	</div>
</div>


