<div class="purchase-history-container">
	<h1>取引詳細</h1>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="order-user-info">
				<div class="row">
					<div class="col-md-6">
						<% if  current_user.profile_image_id %>
							<%= attachment_image_tag current_user, :profile_image, :fill, 350, 350, class:"border" %>
						<% else %>
							<%= image_tag 'no_image.jpg', size: '350x350', class:"border" %>
						<% end %>
					</div>
					<div class="col-md-6">
						<p>ユーザー名 : <%= current_user.user_name %></p>
						<p>E-mail : <%= current_user.email %></p>
						<p>電話番号 : <%= current_user.phone_number %></p>
						<p>発送状況 : <%= @order.shipment_status %></p>
						<p>取引ID : <%=  @order.id %></p>
						<p>購入日 : <%=  @order.created_at %></p>
						<p>お届け先 : <%=  @order.destination %></p>
					</div>
				</div>
			</div>
			<br>
			
			<div class="order-product-info">
				<% @order_history.each do |od| %>
					<div class="row purchase-record">
						<div class="col-md-4">
							<% if  od[:jacket_image] %>
								<%= attachment_image_tag od, :jacket_image, :fill, 120, 120, class:"border" %>
							<% else %>
								<%= image_tag 'no_image.jpg', size: '120x120', class:"border" %>
							<% end %>
						</div>
						<div class="col-md-8">
							<p>商品名 : <%= od[:product_name] %></p>
							<p>アーティスト名 : <%= od[:artist_name] %></p>
							<p>購入枚数 : <%= od[:count] %></p>
							 <p>小計 : <%= @order_sub %></p>
						</div>
					</div>
				<% end %>
				<br>
				<p class="total-price">合計 : ¥<%= @total_price %></p>
			</div>
		</div>
	</div>
</div>

