<div class="purchase-history-container">
<div class="col-lg-offset-2 col-lg-8">
	<h1 class="ord-h">取引詳細</h1>
</div>
	<div class="row ordes-backk">
		<div class="col-md-8 col-md-offset-2">
			<div class="order-user-info">
				<div class="row">
					<div class="col-md-6">
						<%= attachment_image_tag current_user,
							:profile_image, :fill, 350, 350,
							fallback: "no_image.jpg", size: '350x350',
							class: "img-circle pull-left profile-thumb myimg" %>
					</div>
					<div class="col-md-3 ord-p">
						<p>ユーザー名 : <%= current_user.user_name %></p>
						<p>E-mail : <%= current_user.email %></p>
						<p>電話番号 : <%= current_user.phone_number %></p>
						<p>発送状況 : <%= @order.shipment_status %></p>
						<p>取引番号 : <%= "#{current_user.id} - #{@order.id}"%></p>
						<p>購入日 : <%=  @order.created_at %></p>
						<p>お届け先 : <%=  @order.destination %></p>
					</div>
				</div>
			</div>
			<br>
			<div class="order-product-info col-lg-offset-3 col-lg-6">
				<% @items.each do |item| %>
					<div class="row purchase-record">
						<div class="col-md-3 ord-show-img">
							<%= attachment_image_tag Product.find(item[:product_id]),
							:jacket_image, :fill, 100, 100,
							fallback: "no_image.jpg", size: '100x100',
							class: "img-circle pull-left profile-thumb myimg" %>
						</div>
						<div class="col-md-6">
							<p>商品名 : <%= item[:product_name] %></p>
							<p>アーティスト名 : <%= item[:artist] %></p>
							<p>価格 : ¥<%= item[:price].to_i.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></p>
							<p>購入枚数 : <%= item[:count] %></p>
							<p>小計 : ¥<%= item[:subtotal].to_i.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')%></p>
						</div>
					</div>
				<% end %>
				<br>
				<p class="total-price">
					合計 : ¥<%= @total_price_with_fee.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %>(送料込み)
				</p>
			</div>
			<div class="page-rireki">
				<%= paginate @order_details %>
			</div>
		</div>
	</div>
</div>
