<div class="container cart">
	<div class="col-md-offset-2 col-md-8">

    <h1>ショッピングカート</h1>
    <br>

		<div class="row">
			<div class="col-md-offset-2 col-md-8 purchase-flow">
				<i class="fas fa-shopping-cart fa-4x"></i>
				<i class="fas fa-arrow-right fa-2x"></i>
				<i class="fas fa-cash-register fa-2x"></i>
				<i class="fas fa-arrow-right fa-2x"></i>
				<i class="far fa-check-circle fa-2x"></i>
			</div>
		</div>

		<% if current_cart.cart_items.present? %>
		<% @items.each do |item| %>
		  <div class="row clearfix">
		  	<div class="pull-left col-md-3">
		    	<div>
		      	<%= attachment_image_tag Product.find(item[:product_id]),
																		 :jacket_image, :fill, 150, 150,
																		 	fallback: "no_image.jpg", size: '150x150',
																			class:"border"
						%>
		      </div>
		   	</div>
		    <div class="pull-left col-md-6">
		   		<div class="product_details">
			    	<ul>
			      	<li><i class="fas fa-music"></i>商品名：<%= item[:product_name] %></li>
			        <li><i class="fas fa-music"></i>アーティスト：<%= item[:artist] %></li>
			        <li><i class="fas fa-music"></i>レーベル：<%= item[:label] %></li>
			        <li><i class="fas fa-music"></i>ジャンル：<%= item[:genre] %></li>
			       </ul>
		    	</div>
		    </div>
		    <div class="pull-right col-md-3">
		    	<div class="product_in_cart">
		      	<div>
		        	<%= form_with model:current_cart.cart_items, url:cart_path(item[:id]) ,local:true, method: :patch  do |f| %>
		          	<div class="form-group">
									<p>数量:　<%= f.number_field :product_count, class:"product_count", value:"#{item[:count]}" %></p>
		            </div>
		              <%= f.submit "数量を変更", class:"btn-gradient-radius update-cart" %>
		          	<% end %>
		          <%= link_to 'カートから削除', cart_path(item[:id]), class:"btn-gradient-radius-delete", method: :delete %>
		        </div>
		        <div class="subtotal_price">
		        	<p>小計：<span>¥<%= item[:subtotal].to_i.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></span></p>
		        </div>
		      </div>
		    </div>
		  </div>
		  <% end %>
			<div class="row">
			  <div class="total_price">
			    <p>合計: <%= @total_count %>点の商品  <span>¥<%= @total_price_with_fee %></span></p>
			  </div>
			</div>
			<div class="row">
				<div class="keep-shopping">
					<%= link_to '買い物を続ける', root_path, class:'btn_to_shopping' %>
				</div>
				<div class="proceed-to-order">
					<%= link_to '購入へ進む', order_confirm_path, class:'btn_to_order' %>
				</div>
			</div>
		<% else %>
			<h3>お客様のカートには何もまだ入っていません。</h3>
			<div class="row">
				<div class="keep-shopping">
					<%= link_to '商品一覧に戻る', root_path, class:'btn_to_shopping' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
