<div class="form-horizontal">
	<%= form_for @product, :url => {:action => :index} do |f| %>
	<div class="form-group">
		<%= f.label :product_name, "商品名", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :product_name, class:"form-control" %>
		</div>
	</div>

	<!-- 最終的には予測変換で実装。-->
	<div class="form-group">
		<%= f.label :artist, "アーティスト名", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :artist, class:"form-control" %>
		</div>
	</div>

	<!--
		画像を受け取る予定。
		Refileのgemが入るまではテキストにしておく。
	-->
	<div class="form-group">
		<%= f.label :jacket_image, "ジャケット画像" , class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.attachment_field :jacket_image %>
		</div>
	</div>

	<!-- 最終的には予測変換で実装。-->
	<div class="form-group">
		<%= f.label :label, "レーベル名", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :label, class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :genre, "ジャンル名", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.select :genre_id, 
			[["J-POP", 1], ["洋楽", 2], ["K-POP", 3], 
			["ロック/オルタナティブ", 4], ["パンク/ハードコア", 5], ["ビジュアル", 6], 
			["R&B/ソウル", 7], ["ヒップホップ", 8], ["レゲエ/スカ", 9]], 
			class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :price, "値段（税抜き）", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :price, class:"form-control" %>
		</div>
	</div>

	<!-- 
		本来は収録曲の表になるべきところ。	
		実装の仕方がよくわからないので、とりあえずテキスト入力としておきます。
	-->
	<div class="form-group">
		<%= f.label :price, "収録曲", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :price, class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :stock, "在庫数", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :stock, class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :description, "商品説明", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_area :description, class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :genre, "ジャンル名", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.select :genre_id, 
			[["予約受付中！", 1], ["好評販売中!", 2], ["取り扱い停止中", 3]],
			class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :recommend, "店長のおすすめ", class:"col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.check_box :recommend, class:"form-check-input" %>
		</div>
	</div>
	
	<%= f.submit "商品追加", class:"btn btn-primary center-block" %>

	<% end %>
</div>






