<div class="container">
	<div class="col-sm-offset-2 col-sm-8">
		<br>
		<h1>入力内容確認</h1>
		<br>

<%= form_for @product, url: {action: 'create'} do |f| %>
    <div class="row">
			<div class="overview clearfix">
				<div class="product_image pull-left col-sm-6">
					<% if @product.jacket_image_id.present? %>
						<%= attachment_image_tag product, :jacket_image, :fill, 300, 300, class:"border" %>
					<% else %>
						<%= image_tag 'no_image.jpg', size: '300x300', class:"border" %>
					<% end %>
				</div>
				<div class="product_details pull-right col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							商品詳細
						</div>
						<table class="table">
							<thead></thead>
							<tbody>
                <tr>
                  <td>商品名: <%= @product.product_name %><%= f.hidden_field :product_name %></td>
                </tr>
								<tr>
									<td>アーティスト：<%= @product.artist_id %><%= f.hidden_field :artist_id %></td>
								</tr>
								<tr>
									<td>レーベル：<%= @product.label_id %><%= f.hidden_field :label_id %></td>
								</tr>
								<tr>
									<td>ジャンル：<%= @product.genre_id %><%= f.hidden_field :genre_id %></td>
								</tr>
                <tr>
                  <td>在庫：<%= @product.stock %><%= f.hidden_field :stock %></td>
                </tr>
                <tr>
                  <td>価格（税抜）：<%= @product.price %><%= f.hidden_field :price %></td>
                </tr>
							</tbody>
						</table>
					</div>
				</div>
        <div class="panel panel-default col-sm-12" style="margin-top:10px;">
          <div class="panel-heading">
            商品説明
          </div>
          <div class="panel-body">
            <%= @product.description %>
            <%= f.hidden_field :description %>
          </div>
        </div>
			</div>
		</div>

    <div class="panel panel-default">
      <%= f.fields_for :disks do |d| %>
      <%= d.hidden_field :product_id %>
			<% @product.disks.each.with_index(1) do |disk, i| %>
  				<div class="panel-heading">
  					収録曲 - Disc<%= i %>
  				</div>
  				<table class="table songs-table">
            <%= d.fields_for :songs do |s| %>
            <% disk.songs.each.with_index(1) do|song, j| %>
    						<tbody>
    							<tr class="row">
    								<td class="song-index col-md-2"><%= j %></td>
    								<td class="song-name col-md-8"><%= song.song %><%= s.hidden_field :song %></td>
    								<td class="song-length col-md-2"><%= song.second %><%= s.hidden_field :second %></td>
    							</tr>
    						</tbody>
              <% end %>
            <% end %>
  				</table>
  			<% end %>
      <% end %>
		</div>

		<!-- 商品ステータス・ -->
    <div class="row">
      <div class="col-sm-offset-3">
        <%= f.submit '入力画面に戻る', name: 'back', class:"btn btn-danger btn-lg" %>
        <%= f.submit '入力を確定', class:"btn btn-primary btn-lg" %>
      </div>
    </div>

<% end %>
