<div class="container">
	<div class="col-md-offset-2 col-md-8">
		<br>
		<h1>商品詳細</h1>
		<br>

		<!-- 商品の概要説明 -->
		<div class="row">
			<div class="overview clearfix">
				<div class="product_image pull-left col-md-6">
					<% if @product.jacket_image_id.present? %>
						<%= attachment_image_tag  @product, :jacket_image, :fill, 350, 350, class:"border" %>
					<% else %>
						<%= image_tag 'no_image.jpg', size: '350x350', class:"border" %>
					<% end %>
				</div>
				<div class="product_details pull-right col-md-6">
					<ul>
						<li><i class="fas fa-music"></i>商品名：<%= @product.product_name %></li>
						<li><i class="fas fa-music"></i>アーティスト：<%= @artist.name %></li>
						<li><i class="fas fa-music"></i>レーベル：<%= @label.label %></li>
						<li><i class="fas fa-music"></i>ジャンル：<%= @genre.genre %></li>
					</ul>
					<div class="blockquote">
						<p><span><i class="fas fa-compact-disc fa-spin"></i></span>　商品の紹介</p>
						<p><%= @product.description %></p>
					</div>
				</div>
			</div>
		</div>

		<!-- 商品ステータス・ -->
		<div class="row">
			<div class="product_status clearfix">
				<p class="stock col-md-2 pull-left" style="margin-top: 10px;">
					在庫：<%= @product.stock %>
				</p>
				<p class="price col-md-4 pull-left" style="margin-top: 10px;">
					<% tax_included = @product.price*1.08 %>
					価格：<%= tax_included.to_i %>（税込）
				</p>

			<!-- いいね -->
			<% if @product.likes.count == 0 %>
				<%= @product.likes.count %> いいね
			<% else %>
				<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<%= @product.likes.count %> いいね
			<% end %>
			<!-- いいね -->

			</div>
		</div>

		<!-- 編集ボタン -->
		<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
			<div>
				<%= link_to "商品情報の編集",
							edit_admins_product_path(@product),
							class:"btn btn-primary col-md-offset-2 col-md-8"
				%>
			</div>
		</div>



		<!-- レビュー -->
		<div class="panel panel-default ">
			<div class="panel-heading">
				購入者のレビュー
			</div>
			<table class="table">
				<% @product.reviews.each.with_index(1) do |review,r| %>
					<tbody>
						<tr class="row">
							<th><%= r %></th>
							<td>
								<% if @product.jacket_image_id.present? %>
									<%= attachment_image_tag  @product, :jacket_image, :fill, 40, 40, class:"border"%>
								<% else %>
									<%= image_tag 'no_image.jpg', size: '40x40', class:"img-circle" %>
								<% end %>
							</td>
							<td><%= review.user_id %></td>
							<td><%= review.body %></td>
							<td><%= link_to "編集",edit_admins_product_review_path(id: review.id, product_id: @product.id),class:"btn btn-primary" %></td>
							<td><%= link_to "削除",admins_product_review_path(id: review.id, product_id: @product.id),class:"btn btn-danger", method: :'delete' %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>

		<!-- 収録曲 -->
		<div class="panel panel-default">
			<% @disks.each.with_index(1) do |disk, d| %>
				<div class="panel-heading">
					収録曲 - Disc<%= d %>
				</div>
				<table class="table songs-table">
					<% songs = Song.where(disk_id: disk.id) %>
					<% songs.each.with_index(1) do|song, s| %>
						<tbody>
							<tr class="row">
								<td class="song-index col-md-2"><%= s %></td>
								<td class="song-name col-md-8"><%= song.song %></td>
								<td class="song-length col-md-2"><%= song.second %></td>
							</tr>
						</tbody>
					<% end %>
				</table>
			<% end %>
		</div>


	</div>
</div>
