<div class="container-fluid background-color1">
	<!--タイトル小さめ-->
	<div class="Title">
		Ururuへようこそ
	</div>
	<!--セール見出し-->
	<div class="row summer-sale">
		<div class="col-xs-6 col-md-6">
			<h1 class="sale-title">SUMMER<br>SALE</h1>
			<p class="sale-body">6/25[TUE]~8/25[SUN]</p>
		</div>
		<div class="col-xs-6 col-md-6">
			<%= image_tag 'summer3.jpg', :size => '450x450' %>
			<div class="return-index">
				<%= link_to products_path do %>
				　<span class="glyphicon glyphicon-home"></span>
					<span class="glyphicon-text">商品一覧へ</span>
				<% end %>
			</div>
		</div>
	</div>
	<!--セール内容-->
	<div class="sale-info">
		<div class="sale-text">
			お得なセール開催中<br>
			なんと、2019年6月25日からスタート！
		</div>
		<ul class="sale-list">
			<li>まとめ買い3枚で<span class="sale1">10%OFF</span></li>
			<li>10000円以上お買い上げで<span class="sale2">1000円引き</span></li>
			<li>上記の値引きは併用可能です</li>
		</ul>
	</div>
	<!--センター画像-->
	<div class="summer-image">
		<%= image_tag 'summer1.jpg', class: "summer-image-1", :size => '1000x500' %>
	</div>
	<!--プロフィール紹介-->
	<div class="ururu-intro">
		<div class="row intro">
			<div class="col-xs-4 col-md-2 intro-image">
				<%= image_tag '外山春風.jpg', class: "toyama-ima", :size => '200x200'%>
			</div>
			<div class="col-xs-8 col-md-10">
				<section class="intro-text">
					<h3 class="外山-pro-title">＜外山春風プロフィール＞</h3>
					<div class="外山-pro-body">
						1967年、長野県生まれ。DMM大学卒業後、カナダでグラフィックデザイナーの道に進む。
						アーティスト仲間の影響で音楽分野に興味を持ち、お気に入りのCDを集め、
						1997年、自らのCDショップを開店。好きな漫画は『ワンパンマン』で、アニメ版『ワンパンマン』のBGM"正義執行"が音楽の中で一番好き。
					</div>
					<h3 class="shop-title">＜ショップ情報＞</h3>
					<div class="shop-body">
						1997年に開店以降、店長の独自のCDセレクトが好評を博したうえ、店長の明るいキャラクターの虜となり、
						他県から買いに来るお客さんまで！しかし、少子高齢化やオンラインでのダウンロードの普及により、
						お客さんの数は激減。店長のモダンで鋭い耳によって選りすぐられたCDでより多くの方に、うるっと来るような感動を与えたいと、2019年6月ついにオンラインショップ"Ururu"を開店。皆さんも音楽でうるっと来る経験をしてみませんか？
					</div>
				</section>
			</div>
		</div>
	</div>
    <!--店長のおすすめ-->
    <section class="row recommend-container">
      <h3>店長のおすすめ</h3>
          <% @recommend.each do |product| %>
            <div class ="col-xs-6 col-md-2 recommend-item">
              <%= link_to product_path(product), class: 'new-arrival-content' do %>
                <% if product.jacket_image_id.present? %>
                    <% product.jacket_images.each do |image| %>
                      <%= attachment_image_tag image, :image, :fill, 80, 80 %>
                    <% end %>
                <% else %>
                  <%= image_tag 'no_image.jpg', :size => '80x80' %>
                <% end %>
                <p><%= product.product_name %></p>
                <p><%= product.artist.name %></p>
              <% end %>
            </div>
          <% end %>
          <%= paginate @products %>
    </section>
</div>