<div class="container-fluid background-color2">
  <div class="row LeftRow">
   
    <!-- 左要素がグリッドに対してモバイルでは横幅いっぱい、デスクトップでは2/3を占める -->
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <%= image_tag 'ururu-pic.jpg', class: 'ururu-back', :size => '450x368' %>
        </div>
        <section class="col-xs-6 col-md-6 ururu-feature">
          <%= link_to  products_feature_path do|feature| %>
            <h2 class="feature-header">特集ページへ！！</h2>
            <%= image_tag "特集遷移.png", :size => '300x300' %>
          <% end %>
        </section>
      </div>
      
      <div class="new-arrivals-container">
        <!-- 新着画像がグリッドに対しモバイルでは横に2個、デスクトップでは横に3個表示される -->
        <div class="thumbnail-caption">
          <h3>新着商品</h3>
          <div class="row">
            <% @products.each do |product| %>
              <div class ="col-xs-6 col-md-4">
                <%= link_to product_path(product), class: 'new-arrival-content' do %>
                  <% if product.jacket_image_id.present? %>
                    <%= attachment_image_tag  product, :jacket_image, :fill, 80, 80 %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', :size => '80x80' %>
                  <% end %>
                  <p><%= product.product_name %></p>
                  <p><%= product.artist.name %></p>
                <% end %>
              </div>
            <% end %>
            <div class="col-md-3 col-md-offset-4">
              <%= paginate @products %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- 右要素がグリッドに対してモバイルでは横幅いっぱい、デスクトップでは1/3を占める -->
      <div class="col-xs-12 col-md-4 genre-button">
        <div class="row">
        <% @genres.each do |genre| %>
          <div class="btn-group-vertical col-md-offset-2 col-md-8" role="group">
            <button type="button" class="btn btn-default"><%= link_to genre.genre, genre_path(genre.id) %></button>
          </div>
        <% end %>
        </div>
      </div>
      
      <div class="sidebar-recommend">
        <!-- おすすめ画像がグリッドに対しモバイルでは横に2個、デスクトップでは横に2個表示される -->
        <div class="thumbnail-caption">
          <h3>店長のおすすめ</h3>
            <div class="row">
              <% @recommends.each do |product| %>
                <div class ="col-xs-2 col-md-2">
                  <%= link_to product_path(product), class: 'new-arrival-content' do %>
                    <% if product.jacket_image_id.present? %>
                      <%= attachment_image_tag  product, :jacket_image, :fill, 80, 80 %>
                    <% else %>
                      <%= image_tag 'no_image.jpg', :size => '80x80' %>
                    <% end %>
                    <p><%= product.product_name %></p>
                    <p><%= product.artist.name %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
