<div class="container">
	<div class="col-md-offset-2 col-md-8">
		<h1>商品一覧</h1>
		<h3>"<%= params[:search] %>"の検索結果</h3>
		<br>
		<table class="table table-hover table-inverse">
			<thead>
				<th>商品概要</th>
				<th></th>
				<th>在庫</th>
			</thead>

			<!-- アーティスト名での検索結果 -->
			<% @artists.each do |artist| %>
				<% artist.products.includes(:label).each do |product| %>
					<tbody>
						<td>
							<%= link_to product_path(product) do %>
								<% if product.jacket_image_id.present? %>
									<%= attachment_image_tag  product, :jacket_image, :fill, 120, 120, class:"thumbnail" %>
								<% else %>
									<%= image_tag 'no_image.jpg', size:'120x120', class:"thumbnail" %>
								<% end %>
							<% end %>
						</td>
						<td>
							<p class="product-name"><%= product.product_name %></p>
							<p class="index-item">アーティスト：<%= artist.name %></p>
							<p class="index-item">レーベル：<%= product.label.label %></p>
							<p class="index-item">価格：¥<%= product.price.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %>（税抜）</p>
						</td>
						<td>
							<% if product.stock >20 %>
								<p>◎</p>
							<% elsif product.stock > 0 && product.stock < 20 %>
								<p class="limited-stocks">あとわずか</p>
							<% else %>
								<p class="soldout">SOLDOUT</p>
							<% end %>
						</td>
					</tbody>
				<% end %>
			<% end %>


			<!-- 商品名での検索結果 -->
			<% @products.each do |product| %>
				<tbody>
					<td>
						<%= link_to product_path(product) do %>
							<% if product.jacket_image_id.present? %>
								<%= attachment_image_tag  product, :jacket_image, :fill, 120, 120, class:"thumbnail" %>
							<% else %>
								<%= image_tag 'no_image.jpg', size:'120x120', class:"thumbnail" %>
							<% end %>
						<% end %>
					</td>
					<td>
						<p class="product-name"><%= product.product_name %></p>
						<p class="index-item">アーティスト：<%= product.artist.name %></p>
						<p class="index-item">レーベル：<%= product.label.label %></p>
						<p class="index-item">価格：¥<%= product.price.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %>（税抜）</p>
					</td>
					<td>
						<% if product.stock >20 %>
							<p>◎</p>
						<% elsif product.stock > 0 && product.stock < 20 %>
							<p class="limited-stocks">あとわずか</p>
						<% else %>
							<p class="soldout">SOLDOUT</p>
						<% end %>
					</td>
				</tbody>
			<% end %>
			<%= paginate @products, class: "paginate" %>
		</table>
	</div>
</div>
