<div class="container product-show">
	<div class="col-md-offset-2 col-md-8">
		<br>
		<h1>商品詳細</h1>
		<br>
		<!-- 商品の概要説明 -->
		<div class="row">
			<div class="overview clearfix">
				<div class="product_image pull-left col-md-6">
					<% if @product.jacket_image_id.present? %>
						<%= attachment_image_tag @product, :jacket_image, :fill, 350, 350, class:"border" %>
					<% else %>
						<%= image_tag 'no_image.jpg', size: '350x350', class:"border" %>
					<% end %>
				</div>
				<div class="product_details pull-right col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							商品詳細
						</div>
						<table class="table">
							<thead></thead>
							<tbody>
								<tr>
									<td>アーティスト：<%= @artist.name %></td>
								</tr>
								<tr>
									<td>レーベル：<%= @label.label %></td>
								</tr>
								<tr>
									<td>ジャンル：<%= @genre.genre %></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							商品説明
						</div>
						<div class="panel-body">
							<%= @product.description %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 商品ステータス・ -->
		<div class="row">
			<div class="product_status clearfix">
				<p class="stock col-md-2 pull-left" style="margin-top: 10px;">
					在庫：<%= @product.stock %>
				</p>
				<p class="price col-md-2 pull-left" style="margin-top: 10px;">
					<% tax_included = @product.price*1.08 %>
					価格：<%= tax_included.to_i %>（税込）
				</p>
				<p class="count col-md-2 pull-left">
					<%= form_for @cart do |f| %>
					:個数
					<%= f.number_field :product_count %>
				</p>


			<!-- いいね機能 -->
				<% if current_user.present? %>
					<% if @product.likes?(current_user) %>
						<li>
							<%= link_to product_like_path(@product), method: :delete do %>
							<div class="like-box-of animated bounce">
								<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
							</div>
								<%= @product.likes.count %> いいね
							<% end %>
						</li>
							<% else %>
						<li>
							<%= link_to  product_likes_path(@product), method: :post do %>
							<div class="like-box animated bounceOut">
								<i class="fa fa-heart" aria-hidden="true" style="color: pink;"></i>
							</div>
							<%= @product.likes.count %> いいね
							<% end %>
						</li>
					<% end %>

				<% else %>
					<%= @product.likes.count %> いいね
				<% end %>
			<!-- いいね -->

			</div>
		</div>

		<!-- カート機能 -->

		<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
			<div>
				<!-- カートに商品情報およびユーザーIDをhidden fieldで送る -->
				<% if user_signed_in? %>
					<%= f.hidden_field :product_id, value: @product.id %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field :product_price, value: @product.price %>
					<%= f.submit "カートに追加する" %>
				<% else %>
					<%= link_to "カートに追加する", "#"  %>
				<% end %>
			</div>
		</div>
		<% end %>


		<!-- レビュー --><!--レビュー機能はトラが作ります-->
		<div class="panel panel-default">
			<div class="panel-heading">
				購入者のレビュー
			</div>
			<table class="table">
				<tbody>
					<tr>
						<th><%= image_tag 'no_image.jpg', size: '40x40', class:"img-circle" %></th>
						<td>星の数</td>
						<td>ユーザー名</td>
						<td>レビュー内容</td>
						<td><%= link_to "編集","#",class:"btn btn-primary" %></td>
					</tr>
					<tr>
						<th><%= image_tag 'no_image.jpg', size: '40x40', class:"img-circle" %></th>
						<td>星の数</td>
						<td>ユーザー名</td>
						<td>レビュー内容</td>
						<td><%= link_to "編集","#",class:"btn btn-primary" %></td>
					</tr>
					<tr>
						<th><%= image_tag 'no_image.jpg', size: '40x40', class:"img-circle" %></th>
						<td>星の数</td>
						<td>ユーザー名</td>
						<td>レビュー内容</td>
						<td><%= link_to "編集","#",class:"btn btn-primary" %></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 収録曲 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				収録曲
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>ディスク</th>
						<th>曲番</th>
						<th>収録曲</th>
						<th>秒数</th>
					</tr>
				</thead>
				<% @disks.each_with_index do |disk,j| %>
					<tbody>
						<% disk.songs.each_with_index do |song,i| %>
						<tr>
							<td><%= j +1 %></td>
							<td><%= i + 1 %></td>
							<td><%= song.song%></td>
							<td><%= song.second %></td>
						</tr>
						<% end %>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>

<!-- <script>
$(function(){
	$('.like-box').click(function(){
		$(this).addClass('animated bounce');
		}
    });

</script> -->
