<div class="container product-show">
		<br>
		<h1>商品詳細</h1>
		<br>
		<!-- 商品の概要説明 -->
		<div class="row">
			<div class="overview clearfix">
				<div class="product_image pull-left col-md-4">
					<% if @product.jacket_image_id.present? %>
						<%= attachment_image_tag  @product, :jacket_image, :fill, 350, 350, class:"border" %>
					<% else %>
						<%= image_tag 'no_image.jpg', size: '350x350', class:"border" %>
					<% end %>
				</div>
				<div class="product_details pull-left col-md-5">
					<ul>
						<li><i class="fas fa-music"></i>商品名：<%= @product.product_name %></li>
						<li><i class="fas fa-music"></i>アーティスト：<%= @artist.name %></li>
						<li><i class="fas fa-music"></i>レーベル：<%= @label.label %></li>
						<li><i class="fas fa-music"></i>ジャンル：<%= @genre.genre %></li>
					</ul>
					<div class="blockquote">
						<p><span><i class="fas fa-compact-disc fa-spin"></i></span>　商品の紹介</p>
						<p><%= @product.description %></p>
					</div>
				</div>
				<!-- 商品ステータス -->
				<div class="product_status pull-left col-md-2">
					<div class=price>
						<% tax_included = @product.price*1.08 %>
						<p>価格：¥<%= tax_included.to_i.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %>（税込）</p>
					</div>
					<div class="stock">
						<% if @product.stock >= 20 %>
							<p class="plenty-stocks">在庫あり</p>
						<% elsif @product.stock > 0 && @product.stock < 20 %>
							<p class="limited-stocks">残り<%= @product.stock %>点。ご注文はお早めに。</p>
						<% else %>
							<p class="soldout">SOLD OUT</p>
						<% end %>
					</div>
					<div class="add-to-cart">
						<%= form_with model:@cart do |f| %>
						<p>数量:<%= f.number_field :product_count, value:1, class:"product_count" %></p>
						<%= f.hidden_field :product_id, value: @product.id %>
						<%= f.hidden_field :product_price, value: @product.price %>
						<%= f.submit "カートに追加する", class:"btn-square-pop" %>
						<% end %>
					</div>
					<!-- いいね機能 -->
					<% if current_user.present? %>
						<% if @product.likes?(current_user) %>
							<li>
								<%= link_to product_like_path(@product), method: :delete do %>
								<div class="like-box-of animated bounce">
									<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
								</div>
									<%= @product.likes.count %> いいね
								<% end %>
							</li>
								<% else %>
							<li>
								<%= link_to product_likes_path(@product), method: :post do %>
								<div class="like-box animated bounceOut">
									<i class="fa fa-heart" aria-hidden="true" style="color: pink;"></i>
								</div>
								<%= @product.likes.count %> いいね
								<% end %>
							</li>
						<% end %>
					<% else %>
						<%= @product.likes.count %> いいね
					<% end %>
				</div>
			</div>
		</div>

		<!-- レビュー --><!--レビュー機能はトラが作ります-->
		<div class="row">
			<div class="col-md-5">
				<h3>レビュー投稿</h3>
				<% if user_signed_in? %>
					<!-- コメント入力欄を商品の詳細ページに表示するためのrender -->
					<%= render partial: 'reviews/form', locals: { reviews: @reviews, products: @products }%>
				<% end %>
			</div>
			<h3>レビュー一覧</h3>
			<div class="col-md-7 scroller">
				<div id="reviews_area"><!--ここのidを目印にdiv内をAjaxで書き換え-->
					<!-- 投稿されたコメント一覧を商品の詳細ページに表示するためのrender -->
					<%= render partial: 'reviews/index', locals: { reviews: @reviews }%>
				</div>
			</div>
		</div>

		<!-- 収録曲 -->
		<div class="row">
			<div class="panel panel-default col-md-offset-3 col-md-6">
				<% @disks.each.with_index(1) do |disk, d|%>
					<div class="panel-heading">
						収録曲 - Disc<%= d %>
					</div>
					<table class="table songs-table">
						<% songs = Song.where(disk_id: disk.id) %>
						<% songs.each.with_index(1) do |song, s| %>
							<tbody>
								<tr class="row">
									<td class="song-index col-md-2"><%= s %></td>
							    <td class="song-name col-md-8"><%= song.song %></td>
							    <td class="song-length col-md-2"><%= song.second %></td>
								</tr>
							</tbody>
						<% end %>
					</table>
				<% end %>
			</div>
		</div>
	</div>
</div>
