	<div class="pro-bg">
		<div class="container product-show">
		<br>
		<h1 class="pro-h">商品詳細</h1>
		<br>
		<!-- 商品の概要説明 -->
		<div class="row">
			<div class="overview clearfix">
				<div class="product_image pull-left col-md-4">
					<%= attachment_image_tag  @product,
						:jacket_image, :fill, 350, 350,
						fallback: "no_image.jpg", size: '350x350',
						class:"border"
					%>
				</div>
				<div class="product_details col-md-4">
					<ul>
						<li><i class="fas fa-music"></i>商品名：<%= @product.product_name %></li>
						<li><i class="fas fa-music"></i>アーティスト：<%= @product.artist.name %></li>
						<li><i class="fas fa-music"></i>レーベル：<%= @product.label.label %></li>
						<li><i class="fas fa-music"></i>ジャンル：<%= @product.genre.genre %></li>
					</ul>
					<div class="blockquote">
						<p><span><i class="fas fa-compact-disc fa-spin"></i></span>　商品の紹介</p>
						<p><%= @product.description %></p>
					</div>
				</div>
				<!-- 商品ステータス -->
				<div class="product_status col-md-2">
					<div class=price>
						<p>価格：¥<%= @tax_included.to_i.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %>（税込）</p>
					</div>
					<div class="stock">

						<% if @product.stock == 0 %>
							<p class="soldout">SOLD OUT</p>
						<% elsif @product.stock > 0 && @product.stock < 20 %>
													<p class="limited-stocks">残り<%= @product.stock %>点。ご注文はお早めに。</p>
													<div class="add-to-cart">
														<%= form_with model:CartItem, url:add_item_path, local:true do |f| %>
														<p>数量:<%= f.number_field :product_count, value:1, class:"product_count" %></p>
														<%= f.hidden_field :product_id, value: @product.id %>
														<%= f.submit "カートに追加する", class:"btn-square-pop" %>
														<% end %>
						<% else %>
						<p class="plenty-stocks">在庫あり</p>
													<div class="add-to-cart">
														<%= form_with model:CartItem, url:add_item_path, local:true do |f| %>
														<p>数量:<%= f.number_field :product_count, value:1, class:"product_count" %></p>
														<%= f.hidden_field :product_id, value: @product.id %>
														<%= f.submit "カートに追加する", class:"btn-square-pop" %>
														<% end %>
						<% end %>
					</div>
					<!-- いいね機能 -->
					<% if current_user.present? %>
						<% if @product.likes?(current_user) %>
							<li>
								<%= link_to product_like_path(@product), method: :delete do %>
								<div class="like-box-of animated bounce">
									<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
								</div>
									<%= @product.likes.count %> いいね
								<% end %>
							</li>
						<% else %>
							<li>
								<%= link_to product_likes_path(@product), method: :post do %>
								<div class="like-box animated bounceOut">
									<i class="fa fa-heart" aria-hidden="true" style="color: pink;"></i>
								</div>
								<%= @product.likes.count %> いいね
								<% end %>
							</li>
						<% end %>

					<% end %>

				</div>
			</div>
		</div>
		<br>
		<!-- レビュー -->
		<div class="row review-container">
			<% if user_signed_in? %>
				<% if @product.reviewed_by?(current_user) %>
					<div class="col-md-6 col-md-offset-3 scroller">
						<h3>レビュー一覧</h3>
						<div id="reviews_area">
							<%= render partial: 'reviews/index', locals: { reviews: @reviews } %>
						</div>
					</div>
				<% else %>
					<div class="product-review">
						<div class="review-index rev col-md-4">
							<h3>レビュー投稿</h3>
							<!-- コメント入力欄を商品の詳細ページに表示するためのrender -->
							<%= render partial: 'reviews/form', locals: { reviews: @reviews, product: @product }%>
						</div>
					</div>
					<h3 class= "rev-s">レビュー一覧</h3>
					<div class="col-md-6 scroller">
						<div id="reviews_area"><!--ここのidを目印にdiv内をAjaxで書き換え-->
							<!-- 投稿されたコメント一覧を商品の詳細ページに表示するためのrender -->
							<%= render partial: 'reviews/index', locals: { reviews: @reviews }%>
						</div>
					</div>
				<% end %>
			<% else %>
				<div class="col-md-6 col-md-offset-3 scroller review-scroller">
					<h3>レビュー一覧</h3>
					<div id="reviews_area">
						<%= render partial: 'reviews/index', locals: { reviews: @reviews } %>
					</div>
				</div>
			<% end %>
		</div>


		<!-- 収録曲 -->
		<div class="row">
			<div class="panel panel-default col-md-offset-3 col-md-6">
				<% @product.disks.each.with_index(1) do |disk, d|%>
					<div class="panel-heading">
						収録曲 - Disc<%= d %>
					</div>
					<table class="table songs-table">
						<% disk.songs.each.with_index(1) do |song, s| %>
							<tbody>
								<tr class="row">
									<td class="song-index col-md-2"><%= s %></td>
								  <td class="song-name col-md-8"><%= song.song %></td>
								  <td class="song-length col-md-2"><%= song.second %></td>
								</tr>
							</tbody>
						<% end %>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	</div>
</div>
