<%= form_with(model: [@product, Review.new]) do |f| %>
	<div id="star">
		<%= f.label :rate,'評価 ', class:'col-form-label' %>
		<%= f.hidden_field :star, id: :review_star %>
	</div>
	<script>
		$('#star').raty({
			size: 36,
			starOff:  '<%= asset_path('star-off.png') %>',
	  	starOn : '<%= asset_path('star-on.png') %>',
			scoreName: 'review[star]',
		});
	</script>
	<div>
		<%= f.text_area :body, size: "50x10" %>
	</div>
	<div class="actions">
		<%= f.submit "投稿", class: 'btn btn-info' %>
	</div>
<% end %>
