<div class="row">
	<% reviews.each do |review| %>
		<div class="review-record clearfix">
			<% unless review.id.nil? %>
			<div class="col-md-3">
				<p><%= review.user.user_name %></p>
				<div id="star_<%= review.id %>" >
					<script>
						$('#star_<%= review.id %>').raty({
							space: false,
							size: 36,
							readOnly: true,
							starOff:  '<%= asset_path('star-off.png') %>',
					  	starOn : '<%= asset_path('star-on.png') %>',
							score: '<%= review.star %>'
						});
					</script>
				</div>
			</div>
			<div class="col-md-7">
				<%= review.body %>
			</div>
			<% if review.user == current_user %>
				<div class="col-md-1">
					<%= link_to '編集',
							edit_product_review_path(product_id: review.product_id,id: review.id),
							class:"btn btn-info btn-xs" %>
				</div>
				<div class="col-md-1">
					<%= link_to '削除',
							product_review_path(product_id: review.product_id,id: review.id),
							class:"btn btn-warning btn-xs",
							method: :delete %>
				</div>
			<% end %>
			<% end %>
		</div>
	<% end %>
</div>
