<div class="edit-container">
	<h1>レビューを編集</h1>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="edit-icon">
				<% if @product.jacket_image_id.present? %>
					<%= attachment_image_tag product, :jacket_image, :fill, 200, 200, class:"border" %>
				<% else %>
					<%= image_tag 'no_image.jpg', size: '200x200', class:"border" %>
				<% end %>
			</div>
			<div class="edit-review-item">
				<h3>レビュー</h3>
				<%= form_with model: @review, url: admins_product_review_path(product_id: @product.id, id: @review.id), class: "edit-form" do |f| %>
					<%= f.text_area :body, size: '50x10' %>
					<%= f.submit %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>



