<!DOCTYPE html>
<html>
  <head>
    <title>Ururu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbar-ururu">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ururu</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ururu">
            <ul class="nav navbar-nav">
              <li><a href="#">商品一覧</a></li>
              <li><a href="#">カート確認</a></li>
              <li><a href="#">ログアウト</a></li>
            </ul>
            <p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p class="footer-text1">全国送料一律¥500</p>
      <p class="footer-text2">© Ururu.inc</p>
  </body>
</html>
