<!DOCTYPE html>
<html>
  <head>
    <title>Ururu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <script src="https://kit.fontawesome.com/adabbcc59d.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class="user-f">
    <header>

      <nav class=" my-blacknavbar navbar-default navbar-fixed-top">
        <div class="my-back"></div>
        <div class="container nav-container">
          <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbar-ururu">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div>
              <%= link_to image_tag 'logo.png', size:'200x50', class:"navbar-logo" %>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ururu">
            <div class="header-left">
              <ul class="nav navbar-nav navbar-left">
                <% if admin_signed_in? %>
                  <li>
                    <%= link_to "管理者マイページ", admins_top_path %>
                  </li>
                  <li>
                    <%= link_to "商品一覧", admins_products_path %>
                  </li>
                  <li>
                    <%= link_to "ユーザー一覧", admins_users_path %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                  </li>
                <% elsif user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "商品一覧", products_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "カート", current_cart %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "マイページ", user_path(current_user) %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                <% else %>
                  <li><%= link_to "商品一覧", products_path %></li>
                  <li><%= link_to "カート", current_cart %></li>
                  <li><%= link_to "ログイン", new_user_session_path %></li>
                  <li><%= link_to "新規登録", new_user_registration_path %></li>
                <% end %>
              </ul>
              <div class="header-right">
                <div class="nav navbar-nav navbar-right">
                  <% if admin_signed_in? %>
                    <p>管理者ログイン中</p>
                  <% elsif user_signed_in? %>
                    <%= link_to user_path(current_user) do %>
                      <p class="user-status">ようこそ<%= current_user.user_name %>さん</p>
                      <% if current_user.profile_image_id.present? %>
                        <%= attachment_image_tag  current_user, :profile_image,
                                                  :fill, 50, 50, class:"user-thumbnail" %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p class="navbar-text navbar-right">ようこそゲストさん</p>
                  <% end %>
                </div>
              </div>
              <div class="navbar-left search">
                <%= form_tag search_list_path, enforce_utf8: false, method:'get' do %>
                  <%= text_field_tag :search, "",class:"serch-form",
                                      placeholder:"商品名やアーティスト名で検索" %>
                  <%= button_tag sanitize('<i class="fa fa-search"></i>'),
                                            type: "submit", name: nil, class:'search-input' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </header>
    <div class="top-space"></div>
    <%= yield %>
    <footer>
      <p class="footer-text1 ">全国送料一律¥500</p>
      <p class="footer-text2">© Ururu.inc</p>
    </footer>
     <script src="path/to/particles.min.js"></script>
  </body>
</html>
